registry=https://registry.npmjs.org/
@openge:registry=https://registry.npmjs.org/
engine-strict=true
strict-peer-dependencies=true
auto-install-peers=false
prefer-workspace-packages=true
save-exact=true
